body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
}

#indexTitle {
    padding-top: 2em;
    text-align: center;
    color: black;
}

#startButon {
    text-decoration: none;
    padding-top: 2em;
    text-align: center;
    color: black;
}